.login-fields {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.button-login-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.login-fields__error {
  border-color: green !important;
}
