.login-fields {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.button-login-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $desktop-breakpoint) {
  .login-fields1 {
    display: flex;
    width: 70vw !important;

  }
}
