.login-fields {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.button-login-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $desktop-breakpoint) {
  .login-fields {
    width: 500px !important;
    margin: auto;
  }
  .login-fields1 {
    width: 30rem !important;
  }
}
