.review-form {
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $desktop-breakpoint) {
  .review-form_mobile {
    width: 50rem !important;
  }
}
