html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.createButton {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 5rem;
}

.createLogin {
  align-items: center;
  display: flex;
  justify-content: center;

  }
